<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading">{{title}}</h1>
    <p class="text-muted lead" *ngIf="content">{{content}}</p>
    <p class="text-muted" *ngFor="let arr of arrayContent">{{arr}}</p>
    <!-- <p *ngIf="arrayContent.length>0">
    </p> -->
    <!-- <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non labore facere ducimus
      laboriosam, magni esse? Provident accusamus et repellat, maxime reprehenderit tempora assumenda asperiores
      adipisci. Eaque corporis suscipit quam.</p> -->
    <!-- <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non labore facere ducimus
      laboriosam, magni esse? Provident accusamus et repellat, maxime reprehenderit tempora assumenda asperiores
      adipisci. Eaque corporis suscipit quam.</p>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non labore facere ducimus
      laboriosam, magni esse? Provident accusamus et repellat, maxime reprehenderit tempora assumenda asperiores
      adipisci. Eaque corporis suscipit quam.</p>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non labore facere ducimus
      laboriosam, magni esse? Provident accusamus et repellat, maxime reprehenderit tempora assumenda asperiores
      adipisci. Eaque corporis suscipit quam.</p>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non labore facere ducimus
      laboriosam, magni esse? Provident accusamus et repellat, maxime reprehenderit tempora assumenda asperiores
      adipisci. Eaque corporis suscipit quam.</p> -->
  </div>
</section>
